:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.sidenav-container {
  flex: 1;
  border: none;
}

.sidenav {
  width: 250px;
  background: white;
}

.content {
  background: #f5f7f9;
}

.main-content {
  padding: 24px;
}
